/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Disable scrolling */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Hide scrollbar (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

body.lock-scroll {
  overflow: hidden;
}

:root {
  --pad: 4vw;
  --pad-sm: calc(var(--pad) / 2);
  --pad-lg: calc(var(--pad) * 1.5);
  --pad-xl: calc(var(--pad) * 2);
  --radius: 4vw;
  --radius-sm: calc(var(--radius) / 2);
  --gap: 2vw;
  --gap-sm: calc(var(--gap) / 2);
  --gap-lg: calc(var(--gap) * 1.5);
  --subsection-position: 50%;
  --avatar-size: 22vmin;
  --aspect-ratio: 2/3;
  --width: 75vw;
  --height: 112.5vw;
  --toggle-bg-size: 12vw;
  --subsection-width: 75vw;
  --subsection-height: 97.5vw;
  --nav-width: 75vw;
  --nav-height: 15vw;
  --nav-icon-size: 5vw;
  --social-icon-size: 5.2vw;

  --fs-xs: 1.5vmin;
  --fs-sm: 2vmin;
  --fs-md: 3vmin;
  --fs-lg: 3.4vmin;
  --fs-xl: 3.9vmin;
  --fs-xxl: 4.5vmin;

  --c-bg: rgba(255,255,255,0.14); 
  --c-bg-neg: rgba(0,0,0,0.08);
  --c-bg-neg-sec: rgba(0,0,0,0.04);
  --c-text-main: #111;
  --c-text-neg: #eee;
  --c-text-muted: #555;
  --c-text-trans: rgba(85, 85, 85, 0.7);
  --c-border: rgba(0,0,0,0.20);
  --c-accent: #ee4630;
}

body.dark {
  --c-bg: rgba(0,0,0,0.18);
  --c-bg-neg: rgba(255,255,255,0.08);
  --c-bg-neg-sec: rgba(255,255,255,0.04);
  --c-text-main: #eee;
  --c-text-neg: #111;
  --c-text-muted: #ccc;
  --c-text-trans: rgba(204, 204, 204, 0.6);
  --c-border: rgba(255,255,255,0.25);
  --c-accent: #ff7360;
}

/* CANVAS */
canvas {
  position:fixed;
  top:0; 
  left:0;
  width:100vw; 
  height:100vh;
  z-index:-1;
}

/* PRELOADER */
#preloader {
  position: fixed;
  inset: 0;
  background: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.9s ease, visibility 0.9s ease;
}
#preloader.error {
  background: rgb(255,255,255);
}
#preloader.hide {
  opacity: 0;
  visibility: hidden;
}
.loader {
  display: flex;
  gap: 2vmin;
}
.loader span {
  width: 3vmin;
  height: 3vmin;
  background: #ee4630;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out;
}
.loader span:nth-child(2) { animation-delay: 0.2s; }
.loader span:nth-child(3) { animation-delay: 0.4s; }
@keyframes bounce {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}

/* PAGES */
.page {
  position: absolute;
  inset: 0;  /*  below navbar */
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

/* visible page */
.page.active {
  opacity: 1;
  visibility: visible;
}

/* fade out state */
.page.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* HERO CARD */
.hero-container {
  position:fixed;
  top:50%; 
  left:50%;
  transform:translate(-50%, -50%);
  width: var(--width);
  height: var(--height);
  border-radius: var(--radius);
  background: var(--c-bg);
  backdrop-filter:blur(8px);
  border:1px solid var(--c-border);
  align-items:center;
  justify-items: center;
  justify-content: center;
  animation:fadeIn 1.2s ease;
  overflow: hidden;
}
@keyframes fadeIn {
  from { opacity:0; transform:translate(-50%, -60%); }
  to { opacity:1; transform:translate(-50%, -50%); }
}
.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: var(--toggle-bg-size) solid var(--c-bg-neg);
  border-right: var(--toggle-bg-size) solid transparent;
  cursor: pointer;
}

/* NAVBAR */
.navbar {
  position: fixed;
  padding: 0 var(--pad-xl);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--width);
  max-height: var(--height);
  width: var(--nav-width);
  height: var(--nav-height);
  aspect-ratio: 5/1;
  background:var(--c-bg-neg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap);
}
.nav-link {
  background: none;
  border: none;
  color: var(--c-text-trans);
  cursor: pointer;
  text-align: center;
}
.nav-link i {
  font-size: var(--nav-icon-size);
  display: block;
}
.nav-link.active,
.nav-link:hover {
  color: var(--c-accent);
}

/* DARK MODE TOGGLE */
.theme-toggle {
  position:fixed;
  top: 0.5vmin; 
  left:0.5vmin;
  font-size: var(--pad);
  text-align: center;
  width: var(--pad-lg);
  height: var(--pad-lg);
  border:none;
  background:none;
  color: var(--c-text-trans);
  cursor:pointer;
  transition:0.3s;
  z-index: 4;
}
.theme-toggle:hover { transform:scale(1.1); }



/* ------- PROFILE PAGE ------- */

/* SUBSECTION */
.subsection {
  position: fixed;
  top: 0;
  left: var(--subsection-position);
  transform:  translateX(-50%);
  width: var(--subsection-width);
  height: var(--subsection-height);
  padding: var(--pad);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  background: transparent;
  gap: var(--gap);
  /* overflow: hidden; */
}

/* HOME / PORT CARD */
.profile-view {
  flex: 12;
  display: grid;
  height: 89%;
  width: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 9fr 2fr;
  grid-template-areas:  "port-box"
                        "tool-box";
  align-items: center;
  gap: var(--gap);
}
.port-card {
  display: grid;
  height: 100%;
  width: 100%;
  gap: var(--gap);
  border-radius: var(--radius-sm);
  padding: var(--pad);
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr 3fr;
  grid-template-areas:  "box-1"
                        "box-2"
                        "box-3";
  align-items: center;
  background:var(--c-bg-neg);
  overflow: hidden;
}

/* TOOLBAR */
.toolbar {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: var(--gap);
}

/* SOCIAL ICONS */
.social-row {
  flex: 1;
  width: 100%; 
  display:flex;
  justify-items: center;
  justify-content: space-between;
  gap: var(--gap);
}
.social-row a {
  margin: auto 0;
  height: var(--pad-xl);
  width: var(--pad-xl);
  padding:var(--pad-sm);
  border-radius: var(--radius);  
  text-decoration: none;
  background: var(--c-bg-neg);
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  transition: 0.25s;
}
.social-row a:hover {
  transform:scale(1.15);
  box-shadow:0 0 10px var(--c-text-muted);
}
.social-row a:visited,
.social-row a:hover,
.social-row a:active {
  text-decoration: none !important;
}
.social-row i {
  aspect-ratio: 1 / 1;
  height: var(--pad-xl);
  align-content: center;
  font-size: var(--social-icon-size); 
  color: var(--c-text-muted);
}

/* DOWNLOAD BUTTON */
.download-btn {
  width: 100%;
  margin: auto;
  height: var(--pad-xl);
  background:var(--c-bg-neg);
  color:var(--c-text-main);
  font-size: var(--fs-md);
  border: none;
  border-radius:var(--radius);
  cursor:pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition:0.25s;
}
.download-btn:hover {
  transform:scale(1.06);
}
.download-btn:hover,
.toolbar a:visited,
.toolbar a:hover,
.toolbar a:active {
  text-decoration: none !important;
}

/* AVATOR */
.avatar {
  display: block;
  margin:auto;
  width: var(--avatar-size);
  aspect-ratio: 1/1;
  border-radius:50%;
  object-fit:cover;
}

/* AVATAR WITH GRADIENT BORDER */
.avatar-wrapper {
  aspect-ratio: 1 /1;
  border-radius: 50%;
  padding: 1vmin;
  display: grid;
  justify-self: center;
  align-items: center;
  background:linear-gradient(45deg, #000, #666, #fff, #333);
  background-size:400% 400%;
  animation:spinBorder 10s linear infinite;
}
@keyframes spinBorder {
  0% { background-position:25% 25%; }
  25% { background-position:25% 75%; }
  50% { background-position:75% 75%; }
  75% { background-position:75% 25%; }
  100% { background-position:25% 25%; }
}
@keyframes icon-bounce {
  0%   { transform: scale(1); }
  40%  { transform: scale(1.35); }
  70%  { transform: scale(1.15); }
  100% { transform: scale(1.25); }
}

/* ALL TEXT */
.name {
  font-size:var(--fs-xxl);
  font-weight:bold;
  color: var(--c-text-main);
}
.info {
  font-size: var(--fs-md);
  color: var(--c-text-main);
}
.typing {
  font-size:var(--fs-lg);
  min-height:24px;
  margin-top:6px;
  color:var(--c-text-muted);
}
.title {
  flex: 1;
  position: relative;
  text-transform: uppercase;
  font-size: var(--fs-xl);
  color: var(--c-accent);
}
.navbar::before {
  content: "";
  position: absolute;
  top: calc(-1 * var(--radius));
  left: 0;
  width: var(--radius);
  height: var(--radius);
  background: var(--c-bg-neg);
  -webkit-mask:
    radial-gradient(circle at top right,
      transparent var(--radius),
      black var(--radius));
  mask:
    radial-gradient(circle at top right,
      transparent var(--radius),
      black var(--radius));
}
.navbar::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--radius));
  right: 0;
  width: var(--radius);
  height: var(--radius);
  background: var(--c-bg-neg);
  /* font-weight: bold; */
  -webkit-mask:
    radial-gradient(circle at top left,
      transparent var(--radius),
      black var(--radius));
  mask:
    radial-gradient(circle at top left,
      transparent var(--radius),
      black var(--radius));
}



/* ------- SKILLS PAGE ------- */
.skill-view {
  flex: 12;
  display: flex;
  height: 89%;
  flex-direction: column;
  gap: var(--gap);
}
.skills-wrapper {
  height: 30%;
  background: var(--c-bg-neg);
  border-radius: var(--radius-sm);
  padding: var(--pad-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}
.skill {
  flex: 1;
  align-self: center; 
  text-align: center;
  justify-content: center;
  color: var(--c-text-main);
}
.skill p {
  margin: var(--gap-sm) auto auto auto;
  /* font-weight: bold; */
  font-size: var(--fs-md);
}
/* Circular Progress */
.circle {
  margin: auto;
  --size: calc(0.7 * var(--avatar-size));
  --thickness: var(--radius-sm);
  --primary: var(--c-bg-neg);
  --secondary: var(--c-bg);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background:
    conic-gradient(
      var(--primary) calc(var(--value) * 1%),
      var(--secondary) 0
    );
  display: grid;
  place-items: center;
  position: relative;
}
.circle::before {
  content: "";
  width: calc(var(--size) - var(--thickness) * 2);
  height: calc(var(--size) - var(--thickness) * 2);
  background: var(--c-accent);
  border-radius: 50%;
  position: absolute;
}
.circle span {
  position: relative;
  font-size: var(--fs-lg);
  font-weight: bold;
  color: var(--c-text-neg);
}
.skills-scroll-wrap {
  position: relative;
  height: 68%;
  padding: var(--gap-sm); 
  background: var(--c-bg-neg);
  border-radius: var(--radius-sm);
}
.scroll-box {
  height: 100%;
  width: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.scroll-box::-webkit-scrollbar {
  width: 4px;
}
.scroll-box::-webkit-scrollbar-track {
  background: transparent;
  padding: var(--gap-sm);
}
.scroll-box::-webkit-scrollbar-thumb {
  background: var(--c-text-neg);
  border-radius: 5px;
}
.skill-row {
  display: grid;
  padding: var(--pad-sm);
  grid-template-columns: 1fr auto;
  gap: var(--gap);
}
.skill-name {
  font-size: var(--fs-md);
  color: var(--c-text-muted);
  text-align: start;
}
.skill-value {
  font-size: var(--fs-md);
  color: var(--c-text-muted);
  text-align: end;
}
.bar {
  grid-column: 1 / -1;
  height: 4px;
  background: var(--c-bg-neg);
  border-radius: 2px;
  overflow: hidden;
}
.fill {
  height: 100%;
  width: 0;
  background: var(--c-text-trans);
  border-radius: var(--gap-sm);
  animation: fillBar 1.4s ease forwards;
}
@keyframes fillBar {
  to {
    width: var(--value);
  }
}



/* ------- PROJECTS PAGE ------- */
.project-view {
  flex: 12;
  display: flex;
  height: 89%;
  flex-direction: column;
}
.projects-scroll-wrap {
  position: relative;
  margin-right: calc(-0.5 * var(--pad-lg));
  height: 100%;
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  overflow: hidden;
}
.projects-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: var(--pad-sm); 
  margin-right: var(--gap);
  border-radius: var(--radius-sm);
  background: var(--c-bg-neg);
  /* box-shadow: 0 10px 30px rgba(0,0,0,0.35); */
}

/* CONTENT */
.project-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: var(--gap);
}
.project-title {
  position: relative;
  width: 100%;
  padding-bottom: var(--gap);
  font-size: var(--fs-lg);
  color: var(--c-text-main);
  font-weight: 600;
}
.project-title::after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: var(--c-border);
}
.project-desc {
  font-size: var(--fs-md);
  color: var(--c-text-muted);
}
/* TECH STACK */
.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}
.tech-stack span {
  font-size: var(--fs-sm);
  padding: var(--gap-sm) var(--gap);
  border-radius: var(--radius);
  background: var(--c-bg-neg);
  color: var(--c-text-main);
}
/* FLOATING ARROW BUTTON */
.github-btn {
  position: absolute;
  bottom: var(--pad-sm);
  right: var(--pad-sm);
  height: var(--pad-xl);
  width: var(--pad-xl);
  padding: var(--pad-sm);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--c-bg-neg);
  color: var(--c-text-main);
  text-decoration: none;
  font-size: var(--social-icon-size);

  transition: transform 0.2s ease, background 0.2s ease;
}

.github-btn:hover {
  background: var(--c-border);
  transform: translateX(4px);
}







/* Viewport aspect ratio < 0.75 */
@media (min-aspect-ratio: 3/4) {
  .navbar {
    padding: var(--pad-xl) 0;
    right: 0;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: center;
  }
  .port-card {
    height: 90%;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:  "box-1 box-2"
                          "box-3 box-3";
  }
  .skill-view{
    flex: 4;
    width: 100%;
    flex-direction: row;
  }
  .skills-wrapper{
    flex: 1;
    flex-direction: column;
    height: 100%;
  }
  .skills-scroll-wrap{
    flex: 4;
    height: 100%;
  }
  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--radius));
    width: var(--radius);
    height: var(--radius);
    background: var(--c-bg-neg);
    -webkit-mask:
      radial-gradient(circle at bottom left,
        transparent var(--radius),
        black calc(var(--radius) + 1px));
    mask:
      radial-gradient(circle at bottom left,
        transparent var(--radius),
        black calc(var(--radius) + 1px));
  }
  .navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: calc( var(--height)- var(--radius));
    left: calc(-1 * var(--radius));
    width: var(--radius);
    height: var(--radius);
    background: var(--c-bg-neg);
    -webkit-mask:
      radial-gradient(circle at top left,
        transparent var(--radius),
        black var(--radius));
    mask:
      radial-gradient(circle at top left,
        transparent var(--radius),
        black var(--radius));
  }
  .greetings,
  .info {
    text-align: justify;
  }
  .toolbar {
    flex: 1;
    flex-direction: row;
  }
}

/* Viewport aspect ratio ≥ 1.3 */
@media (min-aspect-ratio: 13/10) {
  .port-card {
    flex: 4;
    aspect-ratio: 2 / 1;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:  "box-1 box-2"           
                          "box-1 box-3";
  }
  .skill-view{
    flex: 4;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    grid-template-areas:  "box-5 box-6";
    gap: var(--gap);
  }
  .circle{    
    --size: calc(0.4 * var(--avatar-size));
  }
  .skills-scroll-wrap{
    flex:5;
  }

}

/* Viewport aspect ratio < 0.75 */
@media (max-aspect-ratio: 3/4) {
  :root {
    --radius: 4vw;
    --pad:4vw;
    --gap:2vw;
    --aspect-ratio: 2/3;
    --width:75vw;
    --height: 112.5vw;
    --avatar-size: 22vw;
    --toggle-bg-size: 12vw;
    --subsection-width: var(--width);
    --subsection-height: 97.5vw;
    --nav-width: var(--width);
    --nav-height: 15vw;
    --nav-icon-size: 5vw;
  }
}

/* Viewport aspect ratio between 0.75 and 1.3 */
@media (min-aspect-ratio: 3 / 4) and (max-aspect-ratio: 13 / 10) {
  :root {
    --radius: 3vw;
    --pad: 3vw;
    --gap: 1.5vw;
    --subsection-position: 42.85%;
    --aspect-ratio: 7/5;
    --width: 75vw; 
    --height: 53.57vw;
    --avatar-size: 12vw;
    --toggle-bg-size: 9vw;
    --subsection-width: 64.28vw;
    --subsection-height: var(--height);
    --nav-width: 10.71vw;
    --nav-height: var(--height);
    --nav-icon-size: 3.5vw; 
    --social-icon-size: 3.5vw; 

    --fs-xs: 1.1vw;
    --fs-sm: 1.5vw;
    --fs-md: 2vw;
    --fs-lg: 2.4vw;
    --fs-xl: 3vw;
    --fs-xxl: 3.5w;
  }
}

/* Viewport aspect ratio ≥ 1.3 */
@media (min-aspect-ratio: 13/10) and (max-aspect-ratio: 8/5) {
  :root {
    --radius: 2.5vw;
    --pad: 2.5vw;
    --gap: 1.5vw;
    --aspect-ratio: 9/5;
    --width: 75vw; 
    --height: 41.66vw;
    --avatar-size: 15vw;
    --subsection-position: 44.44%;
    --toggle-bg-size: 7.5vw;
    --subsection-width: 66.66vw;
    --subsection-height: var(--height);
    --nav-width: 8.33vw;
    --nav-height: var(--height); 
    --nav-icon-size: 3vw;
    --social-icon-size: 2.5vw;

    --fs-xs: 1vw;
    --fs-sm: 1.4vw;
    --fs-md: 1.8vw;
    --fs-lg: 2.1vw;
    --fs-xl: 2.6vw;
    --fs-xxl: 3Vw;
  }
}

@media (min-aspect-ratio: 8/5) {
  :root {
    --radius: 4.5vh;
    --pad: 4.5vh;
    --gap: 2.7vh;  
    --aspect-ratio: 9/5;
    --width: 135vh; 
    --height: 75vh;
    --avatar-size: 27vh;
    --subsection-position: 44.44%;
    --toggle-bg-size: 13.5vh; 
    --subsection-width: 120vh;
    --subsection-height: var(--height);
    --nav-width: 15vh;
    --nav-height: var(--height);
    --nav-icon-size: 5vh;
    --social-icon-size:4.5vh;

    --fs-xs: 1.8vh;
    --fs-sm: 2.5vh;
    --fs-md: 3.2vh;
    --fs-lg: 3.6vh;
    --fs-xl: 4.5vh;
    --fs-xxl: 5.2vh;
  }
}
