/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Disable scrolling */
html, body {
  height: 100%;
  overflow: hidden;   /* 🔥 main fix */
}

/* Hide scrollbar (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  background: #0f1a22;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

body.lock-scroll {
  overflow: hidden;
}


/* CANVAS */
canvas {
  position:fixed;
  top:0; left:0;
  width:100vw; 
  height:100vh;
  z-index:-1;
}

/* HERO CARD */
.hero-container {
  position:fixed;
  top:50%; 
  left:50%;
  transform:translate(-50%, -50%);

  max-width: 70vw;
  max-height: 70vh;

  padding: calc(2 * 1cqmin);
  border-radius: calc(4 * 1cqmin);

  background:rgba(255,255,255,0.13);
  backdrop-filter:blur(8px);
  border:1px solid rgba(0,0,0,0.20);

  display:table-column;
  align-items:center;
  gap:calc(2 * 1cqmin);

  animation:fadeIn 1.2s ease;
}

.dark .hero-container {
  background:rgba(0,0,0,0.18);
  border:1px solid rgba(255,255,255,0.25);
}

/* NAVBAR */
.navbar {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 32px);
  height: calc(16 * 1cqmin);

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: calc(4 * 1cqmin);
  align-items: center;
}

.navbar::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0%;
  transform: translateY(-50%) scaleX(1);

  width: calc(100%);
  height: 1px;
  border-radius: 1px;

  background: #888;
  align-self: center;
  transition: transform 0.3s ease;
}

.nav-link {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.nav-link i {
  font-size: 20px;
  display: block;
  margin-bottom: 4px;
}

.nav-link.active,
.nav-link:hover {
  color: #ff6b57;
}

/* PAGES */
.page {
  position: absolute;
  inset: 80px 0 0 0;  /*  below navbar */
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

/* visible page */
.page.active {
  opacity: 1;
  visibility: visible;
}

/* fade out state */
.page.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* BUTTON */
.download-btn {
  padding:10px 22px;
  background:rgba(0,0,0,0.08);
  color:#000;
  border:none;
  border-radius:25px;
  cursor:pointer;
  margin-top:14px;
  transition:0.25s;
}
.download-btn:hover {
  transform:scale(1.06);
}
.dark .download-btn { 
  background:rgba(255,255,255,0.12);
  color:#fff;
}

/* MOBILE
@media (max-width: 768px) {
  .navbar {
    gap: 20px;
  }

  .page {
    padding: 60px 25px;
  }
} */


/* Landscape mode */
/* @media (orientation:landscape) and (min-width:768px) {
  .hero-container {
    height:90%;
    width:auto;
    max-width:1100px; 

    flex-direction:row;
    gap:40px;
  }
} */

@media (max-aspect-ratio: 2/3) {
  .hero-container {
    aspect-ratio: 2/3; 
    min-width: 70vw; 
    height: auto;
  }
}
@media (min-aspect-ratio: 2/3) and (max-aspect-ratio: 4/5) {
  .hero-container {
    aspect-ratio: 2/3;
    width: auto;
    min-height: 70vh; 
  }
}

/* Viewport aspect ratio between 0.8 and 1.5 */
@media (min-aspect-ratio: 4/5) and (max-aspect-ratio: 7/5) {
  .hero-container {
    aspect-ratio: 7/5;
    min-width: 70vw; 
    height: auto; /* 1.25 */
  }
}

@media (min-aspect-ratio: 7/5) and (max-aspect-ratio:3/2) {
  .hero-container {
    aspect-ratio: 7/5; /* 1.25 */
    width: auto;
    min-height: 70vh; 
  }
}

/* Viewport aspect ratio ≥ 1.5 */
@media (min-aspect-ratio: 3/2) and (max-aspect-ratio:9/5) {
  .hero-container {
    aspect-ratio: 9/5; /* 1.25 */
    min-width: 70vw; 
    height: auto;
  }
}
@media (min-aspect-ratio: 9/5) {
  .hero-container {
    aspect-ratio: 9/5; /* 1.4 */
    width: auto;
    min-height: 70vh; 
  }
}

@media (min-aspect-ratio: 4/5) {
  .navbar {
    position: fixed;
    right: 0;
    top: 50%;
    left: auto;
    bottom: auto;

    transform: translateY(-50%);

    width: calc(16 * 1cqmin);
    height: calc(100% - 32px);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: calc(4 * 1cqmin);
  }

  .navbar::before {
    content: "";
    position: absolute;

    left: 0;                 /* ONLY ONE SIDE */
    top: 50%;
    transform: translateY(-50%);

    width: 1px;
    height: calc(100% - 32px);

    background: #888;
    border-radius: 1px;
  }
}

@keyframes fadeIn {
  from { opacity:0; transform:translate(-50%, -60%); }
  to { opacity:1; transform:translate(-50%, -50%); }
}

/* AVATAR WITH GRADIENT BORDER */
.avatar-wrapper {
  width:22vmin;
  height:22vmin;
  border-radius:50%;
  /* padding:1vmin; */

  border:1vmin solid transparent;
  background:linear-gradient(45deg, #000, #666, #fff, #333);
  background-size:400% 400%;
  animation:spinBorder 10s linear infinite;
}
@keyframes spinBorder {
  0% { background-position:25% 25%; }
  25% { background-position:25% 75%; }
  50% { background-position:75% 75%; }
  75% { background-position:75% 25%; }
  100% { background-position:25% 25%; }
}

@keyframes icon-bounce {
  0%   { transform: scale(1); }
  40%  { transform: scale(1.35); }
  70%  { transform: scale(1.15); }
  100% { transform: scale(1.25); }
}

.avatar {
  width:20vmin;
  height:20vmin;
  border-radius:50%;
  object-fit:cover;
}

/* TEXT */
.hero-info {
  text-align:center;
  max-width:480px;
}
@media (orientation:landscape) and (min-width:768px) {
  .hero-info { text-align:left; }
}

.name {
  font-size:28px;
  font-weight:bold;
  color:#111;
}
.dark .name { color:#fff; }

.typing {
  font-size:17px;
  min-height:24px;
  margin-top:6px;
  color:#333;
}
.dark .typing { color:#ddd; }

/* BUTTON */
.download-btn {
  padding:10px 22px;
  background:rgba(0,0,0,0.08);
  color:#000;
  border:none;
  border-radius:25px;
  cursor:pointer;
  margin-top:14px;
  transition:0.25s;
}
.download-btn:hover {
  transform:scale(1.06);
}
.dark .download-btn { 
  background:rgba(255,255,255,0.12); 
  color:#fff; 
}

/* SOCIAL ICONS */
.social-row {
  display:flex;
  gap:15px;
  margin-top:16px;
}
.social-row a {
  padding:8px;
  border-radius:50%;  
  text-decoration: none;
  background:rgba(0,0,0,0.08);
  display:flex;
  justify-content:center;
  align-items:center;
  transition:0.25s;
}

.social-row a:visited,
.social-row a:hover,
.social-row a:active {
  text-decoration: none !important;
}

.social-row i {
  font-size:22px;
  color: black;         /* Light mode */
}

.dark .social-row i {
  color:white;         /* Dark mode */
}

.dark .social-row a {
  background:rgba(255,255,255,0.12);
}

.social-row a:hover {
  transform:scale(1.15);
  box-shadow:0 0 10px #aaa;
}

/* DARK MODE TOGGLE */
.theme-toggle {
  position:fixed;
  top:18px; 
  left:18px;
  font-size: 22px;
  text-align: center;
  width: 36px;
  height: 36px;
  border:none;
  background:rgba(0,0,0,0.08);
  color:black;
  
  border-radius:50%;
  cursor:pointer;
  transition:0.3s;
}
.theme-toggle:hover { transform:scale(1.1); }
.dark .theme-toggle { background:rgba(255,255,255,0.12); color:white; }

/* HOME / PORT CARD */
.port-card {
  position: relative;
  top:50%; left:50%;
  transform:translate(-50%, -50%);
  min-width:calc(70 * 1vmin);


  padding:calc(2 * 1cqmin);
  display:flex;
  flex-direction:colomn;
  align-items:center;
  gap:calc(4 * 1cqmin);

  animation:fadeIn 1.2s ease;
}
