/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Disable scrolling */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Hide scrollbar (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

body.lock-scroll {
  overflow: hidden;
}

:root {
  --pad: 4vw;
  --pad-sm: calc(var(--pad) / 2);
  --pad-lg: calc(var(--pad) * 1.5);
  --pad-xl: calc(var(--pad) * 2);
  --radius: 4vw;
  --radius-sm: calc(var(--radius) / 2);
  --gap: 2vw;
  --gap-sm: calc(var(--gap) / 2);
  --subsection-position: 50%;
  --avatar-size: 180px;
  --aspect-ratio: 2/3;
  --width: 75vw;
  --height: 75vh;
  --toggle-bg-size: 12vw;
  --subsection-width: 75vw;
  --subsection-height: 97.5vw;
  --nav-width: 75vw;
  --nav-height: 15vw;
  --nav-icon-size: 5vw;

  --fs-base: clamp(14px, 1.1vmin, 18px);
  --fs-xs: calc(var(--fs-base) * 0.85);
  --fs-sm: calc(var(--fs-base) * 1.0);
  --fs-md: calc(var(--fs-base) * 1.25);
  --fs-lg: calc(var(--fs-base) * 1.6);
  --fs-xl: calc(var(--fs-base) * 2.1);
  --fs-xxl: calc(var(--fs-base) * 2.8);

  --c-bg: rgba(255,255,255,0.14); 
  --c-bg-neg: rgba(0,0,0,0.08);
  --c-text-main: #111;
  --c-text-muted: #555;
  --c-text-trans: rgba(85, 85, 85, 0.7);
  --c-border: rgba(0,0,0,0.20);
  --c-accent: #ff6b57;
}

body.dark {
  --c-bg: rgba(0,0,0,0.18);
  --c-bg-neg: rgba(255,255,255,0.12);
  --c-text-main: #eee;
  --c-text-muted: #ccc;
  --c-text-trans: rgba(204, 204, 204, 0.6);
  --c-border: rgba(255,255,255,0.25);
}

/* CANVAS */
canvas {
  position:fixed;
  top:0; 
  left:0;
  width:100vw; 
  height:100vh;
  z-index:-1;
}

/* PAGES */
.page {
  position: absolute;
  inset: 0;  /*  below navbar */
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

/* visible page */
.page.active {
  opacity: 1;
  visibility: visible;
}

/* fade out state */
.page.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* HERO CARD */
.hero-container {
  position:fixed;
  top:50%; 
  left:50%;
  transform:translate(-50%, -50%);
  width: var(--width);
  height: var(--height);
  border-radius: var(--radius);
  background: var(--c-bg);
  backdrop-filter:blur(8px);
  border:1px solid var(--c-border);
  align-items:center;
  justify-items: center;
  justify-content: center;
  animation:fadeIn 1.2s ease;
  overflow: hidden;
}
@keyframes fadeIn {
  from { opacity:0; transform:translate(-50%, -60%); }
  to { opacity:1; transform:translate(-50%, -50%); }
}
.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: var(--toggle-bg-size) solid var(--c-bg-neg);
  border-right: var(--toggle-bg-size) solid transparent;
  cursor: pointer;
}

/* NAVBAR */
.navbar {
  position: fixed;
  padding: 0 var(--pad-xl);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--width);
  max-height: var(--height);
  width: var(--nav-width);
  height: var(--nav-height);
  aspect-ratio: 5/1;
  background:var(--c-bg-neg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap);
}
.nav-link {
  background: none;
  border: none;
  color: var(--c-text-trans);
  cursor: pointer;
  text-align: center;
}
.nav-link i {
  font-size: var(--nav-icon-size);
  display: block;
}
.nav-link.active,
.nav-link:hover {
  color: var(--c-accent);
}

/* DARK MODE TOGGLE */
.theme-toggle {
  position:fixed;
  top: var(--gap-sm); 
  left:var(--gap-sm);
  font-size: var(--pad);
  text-align: center;
  width: var(--pad-lg);
  height: var(--pad-lg);
  border:none;
  background:none;
  color: var(--c-text-trans);
  cursor:pointer;
  transition:0.3s;
  z-index: 4;
}
.theme-toggle:hover { transform:scale(1.1); }


/* DOWNLOAD BUTTON */
/* .download-btn {
  height: var(--pad-xl);
  width: var(--pad-xl);
  background:var(--c-bg-neg);
  color:var(--c-text-main);
  border: none;
  border-radius:var(--radius-sm);
  cursor:pointer;
  transition:0.25s;
}
.download-btn:hover {
  transform:scale(1.06);
} */

#download-btn-text {
  display: none;
}

/* SUBSECTION */
.subsection {
  position: fixed;
  top: 0;
  left: var(--subsection-position);
  transform:  translateX(-50%);
  width: var(--subsection-width);
  height: var(--subsection-height);
  padding: var(--pad);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  background: transparent;
  gap: var(--gap);
}

/* HOME / PORT CARD */
.port-card {
  flex: 9;
  display: grid;
  gap: var(--gap);
  border-radius: var(--radius-sm);
  padding: var(--pad);
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:  "box-1"
                        "box-2"
                        "box-3";
  align-items: center;
  background:var(--c-bg-neg);
  overflow: hidden;
}

/* TOOLBAR */
.toolbar {
  width: var(--subsection-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}

.download-btn a, .toolbar a {
  padding:var(--pad-sm);
  border-radius: var(--radius-sm);  
  text-decoration: none;
  background:var(--c-bg-neg);
  display:flex;
  justify-content:center;
  align-content: center;
  align-items:center;
  transition:0.25s;
}

.download-btn a:hover,
.toolbar a:visited,
.toolbar a:hover,
.toolbar a:active {
  text-decoration: none !important;
}

.toolbar i {
  aspect-ratio: 1 / 1;
  height: 6vw;
  align-content: center;
  font-size: 5vw; 
  color: var(--c-text-muted);         
}










/* Viewport aspect ratio < 0.75 */
@media (min-aspect-ratio: 3/4) {
  .navbar {
    padding: var(--pad-xl) 0;
    right: 0;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: center;
  }
  .port-card {
    flex: 9;
    aspect-ratio: 6 / 5;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:  "box-1 box-2"
                          "box-3 box-3";

  }
  .greetings,
  .info {
    text-align: left;
  }

  .download-btn{
    width: auto;
    flex: 1;
    height: 5vw;
  }

  #download-btn-text{
    display: inline;
  }

  .download-btn i{
    display: none;
  }



  .toolbar {
    flex: 1;
    width: auto; 
    flex-direction: row;
    justify-content: space-between;  
  }
  .download-btn, .toolbar a {
    padding: 0.5vw;
  }
  .toolbar i, .download-btn i {
    height: 4vw;
    font-size: 3vw; 
  }
  /* .download-btn {
    height: 5vw;
  } */
  .nav-link i {
    font-size: 4vmin;
  }
  .nav-link {
    font-size: 2.5vmin;
  }
}

/* Viewport aspect ratio ≥ 1.3 */
@media (min-aspect-ratio: 13/10) {
  .port-card {
    flex: 14;
    aspect-ratio: 8 / 5;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  "box-1 box-2"
                          "box-1 box-3";
  }
}



/* Viewport aspect ratio < 0.75 */
@media (max-aspect-ratio: 3/4) {
  :root {
    --radius: 4vw;
    --pad:4vw;
    --gap:2vw;
    --aspect-ratio: 2/3;
    --width:75vw;
    --height: 112.5vw;
    --toggle-bg-size: 12vw;
    --subsection-width: var(--width);
    --subsection-height: 97.5vw;
    --nav-width: var(--width);
    --nav-height: 15vw;
    --nav-icon-size: 5vw;
  }
}

/* Viewport aspect ratio between 0.75 and 1.3 */
@media (min-aspect-ratio: 3 / 4) and (max-aspect-ratio: 13 / 10) {
  :root {
    --radius: 3vw;
    --pad: 3vw;
    --gap: 1.5vw;
    --subsection-position: 42.85%;
    --aspect-ratio: 7/5;
    --width: 75vw; 
    --height: 53.57vw;
    --toggle-bg-size: 9vw;
    --subsection-width: 64.28vw;
    --subsection-height: var(--height);
    --nav-width: 10.71vw;
    --nav-height: var(--height);
    --nav-icon-size: 3.5vw; 
  }
}

/* Viewport aspect ratio ≥ 1.3 */
@media (min-aspect-ratio: 13/10) and (max-aspect-ratio: 8/5) {
  :root {
    --radius: 2vw;
    --pad: 2vw;
    --gap: 1vw;
    --aspect-ratio: 9/5;
    --width: 75vw; 
    --height: 41.66vw;
    --subsection-position: 44.44%;
    --toggle-bg-size: 6vw;
    --subsection-width: 66.66vw;
    --subsection-height: var(--height);
    --nav-width: 8.33vw;
    --nav-height: var(--height); 
    --nav-icon-size: 3vw;
  }
}

@media (min-aspect-ratio: 8/5) {
  :root {
    --radius: 4vh;
    --pad: 4vh;
    --gap: 2vh;  
    --aspect-ratio: 9/5;
    --width: 135vh; 
    --height: 75vh;
    --subsection-position: 44.44%;
    --toggle-bg-size: 12vh; 
    --subsection-width: 120vh;
    --subsection-height: var(--height);
    --nav-width: 15vh;
    --nav-height: var(--height);
    --nav-icon-size: 5vh;
  }
}


























/* AVATAR WITH GRADIENT BORDER */
.avatar-wrapper {
  aspect-ratio: 1 /1;
  border-radius: 50%;
  padding: 1vw;
  display: grid;
  justify-self: center;
  align-items: center;
  background:linear-gradient(45deg, #000, #666, #fff, #333);
  background-size:400% 400%;
  animation:spinBorder 10s linear infinite;
}

@keyframes spinBorder {
  0% { background-position:25% 25%; }
  25% { background-position:25% 75%; }
  50% { background-position:75% 75%; }
  75% { background-position:75% 25%; }
  100% { background-position:25% 25%; }
}

@keyframes icon-bounce {
  0%   { transform: scale(1); }
  40%  { transform: scale(1.35); }
  70%  { transform: scale(1.15); }
  100% { transform: scale(1.25); }
}

.avatar {
  display: block;
  width: 22vw;
  aspect-ratio: 1/1;
  border-radius:50%;
  object-fit:cover;
}

.name {
  font-size:28px;
  font-weight:bold;
  color:#111;
}
.dark .name { color:#fff; }

.info {
  color: #111;
}
.dark .info { color:#fff; }

.typing {
  font-size:17px;
  min-height:24px;
  margin-top:6px;
  color:#333;
}
.dark .typing { color:#ddd; }











.title {
  flex: 1;
  position: relative;
  font-weight: bold;
  color: #ff6b57;
}
